*{
    font-family: 'Gowun Dodum', sans-serif;
    list-style: none;
    /* text-decoration: none; */
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
#map_canvas {
    height: 500px;
    margin: 0 auto; /* 수평 가운데 정렬 */
    width: 55%;
}
#rank_area_table { 
    padding: 10px;
    margin: 0 auto; /* 수평 가운데 정렬 */
    border-collapse: separate;
    border-spacing: 50px;
}
#div_table {
    display: grid;
    place-items: center;
}
#div_area_table {
    border-collapse: collapse;
    border-spacing: 40px;
  }
  
#div_area_table th, #div_area_table td {
    padding: 10px;
    border: 1px solid black;
  }

a { text-decoration:none }

.block1 {
    font-size: 30px;
    font-weight: 500;
}

.block2 {
    font-size: 20px;
}

.block3 {
    font-size: 16px;
}

.block4 {
    font-size: 25px;
}

h2 {
    font-size: 43px;
    font-weight: 100px;
}

.v

/* -- 공통 요소들 -- */

.intro {
    text-align: left;
    margin: 50px;
}

/* .header {
    display: flex;
    width: 1300px;
    margin: auto;
    background:rgba(0, 0, 0, 0);
    height: 86px;
    margin-left: 150px;
} */

.searchArea {
    width: 200px;
    height: 28px;
    background: rgba(167, 166, 172, 0.233);
    border-radius: 5px; /*모서리 둥글게*/
    margin-top: 35px; 
}

.searchArea > form > input {
    border: none;
    width: 160px;
    height: 28px;
    background: rgba(0, 0, 0,0);
    color:#000000;
    padding-left: 10px;
}

.searchArea > form > span {
    width: 50px;
    color: #2b2b2ba9;
    font-weight: bold;
    cursor: pointer;
    font-size: smaller;
}

.searchArea > .nav {
    margin: 200px;
}


/* .nav{
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 550px);
    font-size: 20px;
    font-weight: bold;
    position: relative;
} */

.nav{
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 300px);
    font-size: 20px;
    font-weight: bold;
}

.nav > li {  
    margin-top: 32px;
}


.nav a {
    color: #000000;
    background-color: #f1f2f300;
    margin: 17px;
}
  
.submenu > li {
    line-height: 50px;
    background-color: #ffa659bb;
}
  
.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden; 
}

.nav > li:hover {
    background-color: #ffa65997;
}
  
.nav > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.image2 {
    opacity: 0.8;
    text-align: center;
    margin-top: 10px;
} 

.colorbox {
    background-color: orange;
    position: relative;
    height: 70px;
    width: 1280px;
    margin-left: 128px;
    margin-top: -30px;
}

.nav1  {
    display: flex;
    margin-left: 99px;
    font-size: 18px;
}

.nav1 > li {  
    margin: 20px;
}

.nav1 a {
    color: #ffffff;
    background-color: #f1f2f300;
}
  
.submenu1 > li {
    line-height: 60px;
    background-color: #ffa659bb;
}
  
.submenu1 {
    height: 0px; /*ul의 높이를 안보이게 처리*/
    overflow: hidden; }


.nav1 > li:hover {
    background-color: #ffa65997;
}
  
.nav1 > li:hover .submenu1 {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}    

.v {
    float: left;
}
